@charset "UTF-8";

html {
	scroll-behavior: smooth;
}
.divider {
	border-top: 1px dotted rgba(255, 255, 255, 0.664);
}

nav {
	transition: transform 1s ease-out;
}

body {
	/* background-color: #252830; */
	background-image: url("Media/rrt1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h1 {
	font-family: trebuchet ms, sans-serif;
	font-weight: bold;
	font-size: 3vw;
	color: white;
}

h2 {
	font-family: trebuchet ms, sans-serif;
	font-size: calc(12px + 0.7vw);
	color: white;
}

h3 {
	font-family:'Tahoma', sans-serif;
	font-size: calc(12px + 0.5vw);
	color: white;
} 
p, ul {
	font-family: 'Tahoma', sans-serif;
	font-size: calc(12px + 0.3vw);
	color:white;
	line-height: 1.5;
}

details {
	font-family: 'Tahoma', sans-serif;
	font-size: calc(12px + 0.3vw);
	color: black;
}

#SLIDE_BG {
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	animation: slideBg 80s linear infinite 0s;
	animation-timing-function: ease-in;
	background-image: url('./Media/My\ project1.jpg');
}

@keyframes slideBg{
	0% {
		background-image: url('./Media/My\ project1.jpg');
	}
	/* Find a different image - this is the one with me holding on the sig. */
	20% {
		background-image: url('./Media/My\ project6.jpg');
	} 
	
	40% {
		background-image: url('./Media/My\ project3.jpg');
	}

	60% {
		background-image: url('./Media/My\ project4.jpg');
	}

	80% {
		background-image: url('./Media/My\ project5.jpg');
	}

	100% {
		background-image: url('./Media/My\ project1.jpg');
	}
}

#welcomeText{
	text-align: center;
	position: absolute;
	left: 20vw;
	top: 50vh;
	color: rgba(225, 225, 235, 0.869);
}

#alternateWelcome {
	text-align: center;
	position: absolute;
	left: 20vw;
	top: 60vh;
	color: rgba(225, 225, 235, 0.869);
}

#aboutButton {
	text-align: center;
	position: absolute;
	left: 43vw;
	top: 75vh;
	background-color: rgba(23, 90, 206, 0.753);
	border: none;
	color: white;
	padding: 1vh 3.5vw;
	text-decoration: none;
	display: inline-block;
	opacity: 0.6;
	transition: 0.3s;
	transition-property:opacity;
	font-size: 1.25vw;
	margin: 8px 2px;
	cursor: pointer;
}

#aboutButton:hover {opacity: 1}

#aboutContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10%;
}

#aboutText {
	display: inline-block;
	text-align: justify;
	width: 70%;
	
}

#aboutPic {
	width: 30%;
	height: auto;
}

#cvDownloader {
	text-align: center;
	position: relative;
	margin-top: 50px;
	left: 12vw;
	background-color: rgba(23, 90, 206, 0.753);
	border: none;
	color: white;
	padding: 1vh 3.5vw;
	text-decoration: none;
	display: inline-block;
	opacity: 0.4;
	transition: 0.3s;
	transition-property:opacity;
	font-size: 1.25vw;
	margin: 8px 2px;
	cursor: pointer;
}

#cvDownloader:hover {opacity: 1}

#educDetails {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
}

#favClasses {
	align-self: flex-start;
	margin-left: 5px;
	flex-grow:4;
}

#sigClasses {
	align-self: flex-start;
	margin-left: 5vw;
	flex-grow: 4;
}

#gownpic {
	width: 30%;
	height: auto;
}

#bujoStudioImg {
	width: 35%;
	height: auto;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

#shodanAikido {
	width: 35%;
	height: auto;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

#yuhihai {
	display: flex;
	justify-content: space-evely;
	align-items: flex-start;
}

#yuhihaiVictory {
	width: 35%;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-right: 50px;
}

#iaidoBadass {
width: calc(200px + 8vw);
	height: auto;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

#icons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;	
	margin: auto;
	width: 75%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	gap: 10vw;
	padding-bottom: 10vh;
}

.row2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-evenly;
	width: 100%;
	gap: 10vw;
}

.iconImg {
	float: left;
	width: 10vw;
	object-fit: cover;
	border: 3px solid black;
	border-radius:60px;
	opacity:0.75;
	transition: 0.3s;
	background-color: white;
}

#emailIcon {
	cursor: pointer;
}

#tooltipEmail {
	position: relative;
	display: inline-block;
}
  
#emailToolTip {
	visibility: hidden;
	font-family: 'Tahoma', sans-serif;
	font-size: 16px;
	width: 160px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	border-radius: 6px;
	padding: 3px;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -83px;
	opacity: 0;
	transition: opacity 0.3s;
}
  
#emailToolTip::after {
	content: "";
	font-family: 'Tahoma', sans-serif;
	font-size: 1.15vw;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
  
#tooltipEmail:hover #emailToolTip {
	visibility: visible;
	opacity: 1;
}

#tooltipPhone {
	position: relative;
	display: inline-block;
}
  
#phoneToolTip {
	visibility: hidden;
	font-family: 'Tahoma', sans-serif;
	font-size: 16px;
	width: 160px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	border-radius: 6px;
	padding: 3px;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -83px;
	opacity: 0;
	transition: opacity 0.3s;
}
  
#phoneToolTip::after {
	content: "";
	font-family: 'Tahoma', sans-serif;
	font-size: 1.15vw;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
  
#tooltipPhone:hover #phoneToolTip {
	visibility: visible;
	opacity: 1;
}


.iconImg:hover {
	opacity: 1;
}

summary {
	color: rgb(68, 67, 67);
}